h1{
    font-size: 50px;

}
#home{
    background-color: #25b7d0;
}
.content{
    background-color: cadetblue;
    display: block;
}
.text-center{
    text-align: center;

}
#foto {
    height: 50vk;
    border-radius: 50%;
    width: 200px;
    border: 4px solid black;
}